In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from keras import callbacks
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from sklearn import svm

In [2]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [3]:
pip install keras

Requirement already satisfied: keras in c:\users\rawat\anaconda3\lib\site-packages (2.14.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\rawat\anaconda3\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: h5py>=2.9.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.4.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: numpy>=1.23.5 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.23.5)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: packaging in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (22.0)
Requirement already satisfied: setuptools in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (65.6.3)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.24.4)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\rawat\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\rawat\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.3)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\rawat\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\rawat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\rawat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\rawat\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\rawat\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rawat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\rawat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rawat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rawat\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\rawat\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\rawat\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\rawat\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
data = pd.read_csv('Final_DatasetK.csv')

In [5]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,Predictions
0,70,1,402,0,36,1,216359,1.8,133,1,1,0
1,90,1,124,1,38,0,187570,1.4,139,1,1,0
2,50,0,39,0,39,0,245416,1.0,126,1,1,0
3,75,0,21,0,39,1,280768,0.9,134,1,1,0
4,85,1,96,0,38,0,198585,0.7,139,1,1,1

In [7]:
data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,Predictions
count,100000.00000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,61.11391,0.531860,613.12995,0.454840,38.720280,0.313550,2.681814e+05,1.377073,135.624340,0.663530,0.309660,0.37436
std,12.21687,0.498986,920.66707,0.497959,12.456416,0.463938,9.904212e+04,0.839193,4.065509,0.472504,0.462356,0.48396
min,40.00000,0.000000,2.00000,0.000000,7.000000,0.000000,-1.095830e+05,0.000000,96.000000,0.000000,0.000000,0.00000
25%,50.00000,0.000000,148.00000,0.000000,30.000000,0.000000,2.080490e+05,1.000000,134.000000,0.000000,0.000000,0.00000
50%,60.00000,1.000000,284.00000,0.000000,37.000000,0.000000,2.561360e+05,1.100000,136.000000,1.000000,0.000000,0.00000
75%,70.00000,1.000000,634.00000,1.000000,45.000000,1.000000,3.107138e+05,1.400000,138.000000,1.000000,1.000000,1.00000
max,95.00000,1.000000,10272.00000,1.000000,84.000000,1.000000,1.433142e+06,12.000000,152.000000,1.000000,1.000000,1.00000

In [8]:
#Display details about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   age                       100000 non-null  int64
 1   anaemia                   100000 non-null  int64
 2   creatinine_phosphokinase  100000 non-null  int64
 3   diabetes                  100000 non-null  int64
 4   ejection_fraction         100000 non-null  int64
 5   high_blood_pressure       100000 non-null  int64
 6   platelets                 100000 non-null  int64
 7   serum_creatinine          100000 non-null  float64
 8   serum_sodium              100000 non-null  int64
 9   sex                       100000 non-null  int64
 10  smoking                   100000 non-null  int64
 11  Predictions               100000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 9.2 MB

In [9]:
#Separate Feature and Predictions
X = data.drop('Predictions',axis = 1) 
Y = data.Predictions

In [11]:
#Set up a standard scaler for the features
col_names = list(X.columns)
s_scaler = preprocessing.StandardScaler()
X_df= s_scaler.fit_transform(X)
X_df = pd.DataFrame(X_df, columns=col_names)   
X_df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,100000.0,2.512479e-16,1.000005,-1.728267,-0.909723,-0.091178,0.727366,2.773727
anaemia,100000.0,-3.240075e-17,1.000005,-1.065886,-1.065886,0.938187,0.938187,0.938187
creatinine_phosphokinase,100000.0,-1.762146e-17,1.000005,-0.663794,-0.505212,-0.357493,0.022669,10.491217
diabetes,100000.0,-3.609557e-17,1.000005,-0.913413,-0.913413,-0.913413,1.094795,1.094795
ejection_fraction,100000.0,-1.985967e-16,1.000005,-2.546514,-0.700067,-0.138105,0.504138,3.635070
high_blood_pressure,100000.0,2.273737e-17,1.000005,-0.675848,-0.675848,-0.675848,1.479623,1.479623
platelets,100000.0,-3.979039e-17,1.000005,-3.814198,-0.607143,-0.121620,0.429439,11.762333
serum_creatinine,100000.0,1.818989e-17,1.000005,-1.640958,-0.449330,-0.330168,0.027320,12.658570
serum_sodium,100000.0,2.605702e-15,1.000005,-9.746513,-0.399544,0.092402,0.584348,4.027968
sex,100000.0,1.328004e-16,1.000005,-1.404291,-1.404291,0.712103,0.712103,0.712103
smoking,100000.0,-3.808509e-17,1.000005,-0.669747,-0.669747,-0.669747,1.493100,1.493100

In [12]:
#spliting test and training sets
x_train, X_test, Y_train,Y_test = train_test_split(X_df,Y,test_size=0.25,random_state=7)

In [15]:
#Create a svm Classifier
ml = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
ml.fit(x_train, Y_train)

#Predict the response for test dataset
y_pred = ml.predict(X_test)

In [14]:
# Model Accuracy: how often is the classifier correct?
ml.score(X_test,Y_test)

0.72532